

.about-us {
	height: 70vh;
	width: 100%;
	position: relative;
	background-image: url('../../dist/images/133.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	
	// background-color: rgba(188, 183, 183, 0.2);
}



.about-us > .image1 {

	background-image: url('../../../src/images/cliff.png');
	height:70vh;
	width: 400px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;





}


.info {
	width: 300px;
	position: absolute;
	top: 30%;
	left: 20%;
	@include breakpoint(medium) {
		left: 10%;
	}




	h1 {
		font-size: 30px;
		letter-spacing: 1px;
		font-family: bringin;
		font-weight: bold;
		margin-bottom: 20px;


	}

	p{
		color: #8c8989;
		margin-bottom: 20px;
		line-height: 25px;
		font-family: 'Open Sans', sans-serif;
		
			@include breakpoint(xsmall) {
			font-size: 13px;
	}
	}

	button {
		background-color: #36AEEA;
		border: 0;
		width: 170px;
		height: 40px;
		font-size: 13px;
		font-weight: bold;
		color: #fff;
	
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
				@include breakpoint(xsmall) {
			width: 120px;
			height: 30px;
			font-size: 10px;

	}

}
}

