
.linked {
	object-fit: cover;
}
.image-holder {
	border: 0;

}



// LOGOOOOOO CSS


 .logo-container {
 	width: 100%;
 	height: 120px;
 	background-color: rgba(188, 183, 183, 0.2);
 	margin-top: 50px;
	margin-bottom: 50px;
 }

 .logo-container > .logo-box {

 	width: 70%;
 	margin: 0 auto;
 	line-height: 150px;
 	display: flex;
  	justify-content: center;
  	


 }

  .logo-container > .logo-box > .logoss {

  	width: 16.66%;
  	height: 120px;
  	position: relative;

  	
  	


  	
  }

  .logo-container > .logo-box > .logoss > img{
	
	width: 100px;
	height: 32px;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 16px);
	transition: 0.3s;
	filter: grayscale(100%);

  
	


  }

  .logo-container > .logo-box > .logoss > img:hover {

  	width: 120px;
	height: 39px;
	filter: none;

  }