
.how-we {
	width: 100%;
	height: 600px;
	background-image: url('../../dist/images/pexels-photo-1016733.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

}

.we-work {
	width: 50%;
	margin: 50px auto 0 auto;
	padding-bottom: 30px;
	padding-top: 50px;
	text-align: center;

		h1 {
			font-family: 'Open Sans', sans-serif; 
			font-weight: bold;
			padding: 30px 0;
		}

}

.numbers {
	width: 100%;

	display: flex;
	justify-content: space-around;
	padding: 0;
	margin-top: 40px;


	.numb {
		// width: 25%;
		// height: 50px;
		// text-align: center;

		width: 180px;
		height: 50px;
		text-align: center;

	.number1 {
		margin-right: 50px;
	}

		


		.oval {
			font-size: 20px;
			font-weight: bold;
			width: 40px;
			height: 40px;
			border: 2px solid rgba(255, 255, 255, 0.7);
			color: rgba(255, 255, 255, 0.7);
			border-radius: 50%;
			
			font-family: 'Open Sans', sans-serif; 
			margin: 0 auto;
			line-height:37px;

	}

}
}


.steps {
	width: 70%;
	height: 400px;

	margin: 0 auto 50px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	

}
.circle {
	width: 180px;
	margin: 20px;
	height: 180px;
	border-radius: 50%;
	border: 1px solid transparent;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.2);
	
}




.hexagon {
  position: relative;
  width: 130px; 
  height: 75.06px;
  background-color: #ffffff;
  margin: 37.53px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  display: flex;
  justify-conten: center;
  align-items: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 91.92px;
  height: 91.92px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 19.0381px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.hexagon:before {
  top: -45.9619px;
}

.hexagon:after {
  bottom: -45.9619px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:130px;
  height:75.0555px;
  z-index: 2;
  background: inherit;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.hexagon > span > img {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 16px);
	

}

.hexagon > span > .antras {
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);

}

.hexagon > span > .trecias  {
	position: absolute;
	top: calc(50% - 19px);
	left: calc(50% - 19px);
}

.hexagon > span > .ketvirtas {
	top: calc(50% - 19px);
	left: calc(50% - 19px);
}


.description {
	width: 180px;
	
	

	.lorem {
		text-align: center;
		font-family: 'Open Sans', sans-serif; 
		font-size: 14px;
		// color: #fff;

		span {
			font-weight: bold;
			// color: #fff;
		}
	}

}