.journal {
	width: 100%;
	height: 100vh;
	
}


.name {
	width: 100%;

	h1 {
		font-size: 25px;
		font-weight: bold;
		font-family: bringin;
		text-align: center;
		padding-top: 50px;

	}

}






.gallery {
	width: 70%;
	height: 80vh;
	margin: 50px auto 0 auto;
	
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	box-shadow: 0 0 11px rgba(33,33,33,.2);
	



	




}

.gallery > .box {
	width: 33.3%;
	height: 50%;
	
 

	
}

.gallery > .box-text {
	text-align: center;
	font-family: 'Open Sans', sans-serif;


	h2 {
		font-size: 15px;
		font-weight: bold;
		color: #36AEEA;
		margin-top: 30px;
		margin-bottom: 40px

	}

	h1 {

		font-size: 13px;
		font-weight: bold;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	p {
		width: 70%;
		font-size: 15px;
		display: block;
		margin: 0 auto;
		color: #8c8989;
	}


}

.gallery > .box-image {

	position: relative;
	background-image: url('../../dist/images/second.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	


	

	svg {

		font-size: 50px;
		color: white;
		

	}
		
}

