
.lastone {
	width: 100%;
	height: 100%;
	position: relative;
}


.our-client {
	width: 100%;
	height: 650px;
	background-image: url('../../dist/images/Group.png');
	background-size: auto;
	
	
}



.our-client > .pavadinimas {

	width: 100%;
	height: 70px;
	margin: 50px 0;
	
		h1{
			text-align: center;
			line-height: 70px;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;


		}
}


.our-client > .whattheysay {
	width: 70%;
	margin: 0 auto;

	display: flex;
	justify-content: flex-start;


	.pavliv, .john {
		width: 50%;
	
		position: relative;
	}

}


.pavliv, .john > blockquote {

		font-family: 'Open Sans', sans-serif;
		color: #8c8989;

		line-height: 25px;
		word-spacing: 5px;

		}



.people {
   
    margin-top: 25px;
    display: block;
    color: #36AEEA;
    word-spacing: 2px;

   		span {
   			font-size: 15px;
   			font-weight: bold;
   			word-spacing: 2px;
   		}

}


.john > .people {
	margin-top: 25px;
    display: block;
    color: #36AEEA;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;

   		span {
   			font-size: 15px;
   			font-weight: bold;
   			word-spacing: 2px;
   		}
}




blockquote:before {
    content: "\"";
    font-size: 50px;
    display: block;
    position: absolute;
    top: -15px;
    color: #8c8989;
    

  

}
.people img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle
}



//  water part 

.water {
	width: 100%;
	height: 650px;
	background-image: url('../../dist/images/water.png');
	background-size: cover;
	background-position: bottom;
	position: absolute;
	top: 50%;}

.contain {

	width: 100%;
	height: 500px;
	position: relative;

		h1 {
			width: 100%;
			padding-top: 20px;
			font-family:'Open Sans', sans-serif;
			font-weight: bold;
			font-size: 25px;
			text-align: center;
			letter-spacing: 2px;
			color: #36AEEA;
		}

		p {
			width: 100%;
			text-align: center;
			margin-top: 10px;
			font-family:'Open Sans', sans-serif;
			font-size: 13px;
		}

}

.contacts {
	width: 360px;
	height: auto; 
	margin: 30px auto;
	// border: 1px solid transparent;
	// border-top: 1px solid transparent;
	position: absolute;
	top: 15%;
	left: calc(50% - 180px);
	
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('../../../src/images/formbackgr.png');
	border-radius: 6px;



}

.contacts > form > input {
	display: block;
	margin: 20px auto;
	width: 320px;
	height: 40px;
	cursor: pointer;
	text-indent: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	outline: none;
	border: none;
	border-radius: 3px;
	caret-color: #36AEEA;


}
.contacts > form > button {
	display: block;
	width: 320px;
	height: 40px;
	margin: 0 auto;
	background-color: #36AEEA;
	border: 0;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
	margin-bottom: 20px;


	

}


//   FOOOOOOOOOOOOTER !!!!!!!!!!!!111


.footer {
	height: 55px;
	width: 100%;

	position: absolute;
	bottom: 0;
}

 .footer-content {
	height: 100%;
	width: 70%;

	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;



		p {
			font-family: 'Open Sans', sans-serif; 
			font-size: 12px;
			font-weight: bold;
			color: rgba(255, 255, 255, .6);


		}

		h1 {
			font-family: 'Open Sans', sans-serif; 
			color: rgba(255, 255, 255, .6);
			letter-spacing: 2px;
			font-weight: bold;
		}

		.fa-twitter {
			color: #1da1f2;

		}

		.fa-facebook-f {
			color: #4267b2;
		}

		.fa-vk {
			color:  #4a76a8;
		}


		svg {
			cursor: pointer;
			margin: 0 3px;
		}
}

