
.wraper
{
    position: relative;

    width: 100%;
    height: 860px;
    margin-top: 70px;
}





.store
{
    position: absolute;
    z-index: 10;
	


    width: 100%;
    height: 550px;

    background-image: url('../../dist/images/worldmap-dots.png');
   
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}



.lake
{
    position: absolute;
    z-index: 1;
    top: 35%;

    width: 100%;
    height: 550px;

    background-image: url('../../src/images/lake.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}


.offer-box {
	width: 70%;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;

}

.store >  #travelwithusto {

	width: 50%;
	height: 50px;
	margin: 0 auto;
	// padding-top: 30px;

		h1 {
			font-size: 25px;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			padding-top: 40px;


		}
}

.offer-box > .offer {
	width: 20%;
	height: 330px;
	position: relative;
	
	margin: 10px;
	background-size: cover;
	margin-top: 70px;



	 &:first-of-type {
	 	margin: 70px 10px 0 0;
	 }

	 &:last-of-type {
	 	margin: 70px 0 0 10px;
	 }

}



.offer-box > .offer:nth-child(1) {
	background-image: url('../../dist/images/car.png');
}

.offer-box > .offer:nth-child(2) {
	background-image: url('../../dist/images/alps.png');
}

.offer-box > .offer:nth-child(3) {
	background-image: url('../../dist/images/pyre.png');
}

.offer-box > .offer:nth-child(4) {
	background-image: url('../../dist/images/rocky.png');
}

.offer-box > .offer:nth-child(5) {
	background-image: url('../../dist/images/kav.png');
}













.offer-box > .offer {

	.stars {
		height: 10%;
		width: 70%;
		padding: 12px 0 0 12px;
		// box-sizing: border-box;
		
		svg {
			color: #fff;
			
		}
	}


	.theplace {
		height: 80%;
		position: relative;

		h1 {
			padding-left: 12px;
			color: #fff;
			font-size: 25px;
			font-family: 'Open Sans', sans-serif;
			padding-bottom: 20px;
			position: absolute;
			top: 40%;
		}
		p {
			padding-left: 12px;
			color: #fff;
			font-size: 15px;
			font-family: 'Open Sans', sans-serif;
			opacity: .9;
			position: absolute;
			top: 55%;

		}	


	}



	.price {
		height: 10%;
		// background-color: rgba(255, 255, 255, 0.2);


		
		


		h3 {
			  text-decoration: line-through;
			  font-size: 17px;
			  color: #fff;
			  font-weight: bold;
				opacity: .7;
				float: left;
				font-family: 'Open Sans', sans-serif;
				padding-left: 12px;

				line-height: 30px;


			

		}


		h4 {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			float: right;
			font-family: 'Open Sans', sans-serif;
			padding-right: 12px;
			display: block;
			line-height: 30px;
			

		}
	}
}


