// Variables
// Colors
// Sizes
// Fonts
// etc...

// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;

@font-face {
  font-family: "bringin";
  src: url('../fonts/Bringin.ttf');
  
}